<li class="row" id="label">
  {{restaurant}}
  <div class="btn-group pull-right inline">
    <button class="delete-rest btn btn-danger" data-id="{{id}}">
      <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
      Delete
    </button>
    <button class="change-visited btn btn-primary inline" data-id="{{id}}" data-newvisit="{{visited}}">
      {{#if visited}}
      <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
      Visited
      {{else}}
      <span class="glyphicon glyphicon-repeat" aria-hidden="true"></span>
      Rebucket
      {{/if}}
    </button>
  </div>
</li>