<li>
	{{restaurant}}
	<button class="change-visited" data-id="{{id}}" data-newvisit="{{visited}}">
		{{#if visited}}Visited{{else}}Move back to Bucketlist{{/if}}
	</button>
	<button class="delete-rest" data-id="{{id}}">
		Delete
	</button>

</li>